{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_responsive.css">
{% endblock %}

{% block body %}
<div class="shop">
        <div class="container">
            <div class="row">
               <div class="col-lg-offset-2 col-lg-12">
                   <div class="shop_bar clearfix">
                       <div class="shop_product_count">{{ knp_pagination_render(listProd) }}</div>
                       <div class="shop_sorting">
                           <span>Filtrer par :</span>
                           <ul>
                               <li>
                                   <span class="sorting_text">Top vente<i class="fas fa-chevron-down"></i></span>
                                   <ul>
                                       <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Top vente</li>
                                       <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>{{ knp_pagination_sortable(listProd, 'Désignation', 'p.libelle') }}</li>
                                       <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>{{ knp_pagination_sortable(listProd, 'Prix', 'p.prixHT') }}</li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                    </div>
                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        {% for produit in listProd %}
                            <!-- Product Item -->
                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="{{ produit.images[1].url }}" alt="{{ produit.images[1].alt }}"></div>
                                <div class="product_content">
                                    <div class="product_price">{{ produit.prixHT }}</div>
                                    <div class="product_name"><div><a href="#" tabindex="0">{{ produit.libelle }}</a></div></div>
                                </div>
                                <div class="product_fav"><i class="fas fa-heart"></i></div>
                                <ul class="product_marks">
                                    <li class="product_mark product_discount">-25%</li>
                                    <li class="product_mark product_new">new</li>
                                </ul>
                                <a href="#">
                                    <button type="button" class="btn btn-primary btn-block"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                   <div class="shop_bar clearfix">
                       <div class="shop_product_count">{{ knp_pagination_render(listProd) }}</div>
                       <div class="shop_sorting">
                           <span>Filtrer par :</span>
                           <ul>
                               <li>
                                   <span class="sorting_text">Top vente<i class="fas fa-chevron-down"></i></span>
                                   <ul>
                                       <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Top vente</li>
                                       <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>{{ knp_pagination_sortable(listProd, 'Désignation', 'p.libelle') }}</li>
                                       <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>{{ knp_pagination_sortable(listProd, 'Prix', 'p.prixHT') }}</li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/shop_custom.js"></script>
{% endblock %}