{% extends 'base.html.twig' %}

{% block title %}Accueil Admin {% endblock %}

{% block ss %}
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/shop_responsive.css">
{% endblock %}

{% block body %}


<div class="container mt-5">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-12">
    <div class="pull-left"><h1>Liste de tous les produits</h1></div>
    <div class="pull-right"><a href="{{ path('admin.produit.ajout') }}"><button type="button" class="btn btn-primary">Ajouter un produit</button></a></div>
            </div></div></div>
<div class="shop">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-12">
                <div class="shop_bar clearfix">
                    <div class="shop_product_count">{{ knp_pagination_render(listProd) }}</div>
                    <div class="shop_sorting">
                        <span>Filtrer par :</span>
                        <ul>
                            <li>
                                <span class="sorting_text">Top vente<i class="fas fa-chevron-down"></i></span>
                                <ul>
                                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Top vente</li>
                                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>{{ knp_pagination_sortable(listProd, 'Désignation', 'p.libelle') }}</li>
                                    <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>{{ knp_pagination_sortable(listProd, 'Prix', 'p.prixHT') }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Image</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
            {% for produit in listProd %}
                    <tr>
                        <th class="align-middle" scope="row">{{ produit.id }}</th>
                        <td class="align-middle">{{ produit.libelle }}</td>
                        <td class="align-middle"><img src="{{ produit.images[1].url }}" alt="{{ produit.images[1].alt }}"></td>
                        <td class="align-middle"><a href="{{ path('admin.produit.modif', {id : produit.id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a></td>
                        <td class="align-middle"><a href="#"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
                <div class="shop_bar clearfix">
                    <div class="shop_product_count">{{ knp_pagination_render(listProd) }}</div>
                    <div class="shop_sorting">
                        <span>Filtrer par :</span>
                        <ul>
                            <li>
                                <span class="sorting_text">Top vente<i class="fas fa-chevron-down"></i></span>
                                <ul>
                                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Top vente</li>
                                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>{{ knp_pagination_sortable(listProd, 'Désignation', 'p.libelle') }}</li>
                                    <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>{{ knp_pagination_sortable(listProd, 'Prix', 'p.prixHT') }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/shop_custom.js"></script>
{% endblock %}